@use "./../../../../styles/variables" as v;

.profile {
  padding: 1rem 5rem 0 5rem;

  .head {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;
      color: v.$secondary-color;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 2rem;

    > div {
      width: 20rem;
    }
  }
}