.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 0;

    > li {
        flex: 1;
        max-width: 20rem;
        list-style: none;
    }
}